*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

h1, h3, h4, .container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%; 
    text-align: center; 
}

header {
    background-color: black;
    background-image: url(../img/logo.png);
    background-size: 500px 250px;
    background-repeat: no-repeat;
    background-position: left center;
    height: 20%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

.imgHeader {
    margin-top: 175px;
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

li a:hover {
    background-color: #43655c;
}

/* Menú a la derecha y centrado */
nav.der {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

nav.der ul {
    padding: 0;
    list-style: none;
    display: flex;
}

nav.der ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 0 10px;
}

nav.der ul li a {
    display: block;
    padding: 35px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
   
}

li.nav a:hover {
 background-color: rgba(0, 201, 151, 0.7);
    border-radius: 15px;

}

.header-image {
    width: 100%;
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: 25%;
    display: block;
}

footer.foot {
    clear: both;
    height: 100%;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedorCartel {
    display: grid;
    grid-template-columns: auto 435px;
    grid-gap: 10px;
    grid-auto-rows: auto;
    grid-template-areas: "a b";
}

.cartelOriginal {
    grid-area: b;
}

.textoCartelOri {
    grid-area: a;
    font-size: 20px;
    line-height: 1.6;
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

.contenido-flex {
    display: flex;
    justify-content: space-between;
    gap: 0; 
    flex-wrap: wrap; 
    align-items: flex-start; 
    height: 100%; 
}

.titulos{  
    text-align: center;
    flex: 3;
    width: 90%; 
    margin-bottom: 0;
    height: 100%;  
}

.texto-principal { 
    text-align: justify;
    flex: 3;
    width: 90%; 
    margin-bottom: 0;
    height: 100%; 
}

.contenedor-flex-aside {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img.fotoaside{
    border-radius: 10px;
}

aside.info-adicional { 
    flex: 0.8;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d3d0d0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    flex-grow: 1; 
    
}
video { 
    max-width: 100%;   
    height: auto;     
    display: block;
    margin: 20px auto; 
} 

img { 
    max-width: 100%; 
    height: auto;
}

/* MOVILES */
@media (max-width: 768px) {
    header {
        height: auto;
        background-size: cover;
        position: static;
    }

    nav.der {
        display: none; /* Display none para que desaparezca el menu cuando se pone para pantallas pequeñas */
    }

    nav.der ul li {
        font-size: 25px;
    }

    .imgHeader {
        margin-top: 0;
    }

    .contenedorCartel {
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b";
    }

    .contenido-flex {
        flex-direction: column;
    }

    .texto-principal {
        width: 100%; 
    }

    aside.info-adicional {
        width: 100% !important;
        margin: 0;
    }

    video {
        width: 100%; 
        height: auto;
    }

    .titulos, .texto-principal, video {
        text-align: center; 
    }
}

/* TABLET */
@media (max-width: 1024px) {
    nav.der ul li {
        font-size: 30px;
    }

    .contenido-flex {
        gap: 20px;
    }

    aside.info-adicional {
        width: 30%;
    }

    video {
        width: 100%; 
        height: auto;
    }

    .titulos, .texto-principal, video {
        text-align: center; 
    }
}
